<h2>StockPulse Alert: <%= @alert.symbol %></h2>
<p>Alert type: <strong><%= @alert.alert_type %></strong></p>
<p><%= @data[:message] %></p>
<hr>
<p><small>StockPulse - Real-time Stock Monitoring</small></p>
